@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    color: #fff;
    background: rgb(20, 20, 20);
}

h1 {
    font-family: 'Roboto Slab', serif;
    margin-top: 60px;
}

h1::after {
    content: '|';
    margin-left: 4px;
    animation: wink 1s infinite;
}

@keyframes wink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.perfil-img {
    max-height: 240px;
    margin-top: 10px;
    border-radius: 12px;
}

.perfil-link {
    font-size: 26px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    margin-top: 20px;
}